.wrapper{
    max-width: 300px;
    margin: 0 auto;
    border: solid 1px red;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
}
.empty{
    width: 100px;
    margin: 10px;
}